{% extends "AppTurnos1/index.html" %}

{% load static %}

{% block Acavaloquecambia %}

<ul>
    <div class="row g-3">
        <div class="col-12 col-sm-3"> 
            <h5> Lista Turnos </h5>
            <select class="form-select bg-light border-0" style="height: 55px;" id="IdAgenda" name="agenda" onchange="CapturarValor();">
                <p><option value="{{ 0 }}">{{ "Seleccione una opcion"}}</option></p>
                {% for agenda in object_list %}
                <p><option value="{{ agenda.id}}">{{agenda.medico}} {{agenda.dia}} - {{agenda.desde}} - {{agenda.hasta}}</option></p>
                
                {% endfor %}
            </select>
        </div>
    </div>
    <script type="text/javascript">
        function CapturarValor()
        {
        /* Para obtener el valor */
        var cod = document.getElementById("IdAgenda").value;

        var urlDetalle = "{% url 'Detailagenda' 0 %}".replace("0", cod);
        var urlEditar = "{% url 'Editagenda' 0 %}".replace("0", cod);
        var urlEliminar = "{% url 'Deleteagenda' 0 %}".replace("0", cod);
        document.getElementById("IdVer").href  = urlDetalle;
        document.getElementById("IdEditar").href  = urlEditar;
        document.getElementById("IdBorrar").href  = urlEliminar;

        if (cod == '0')
            {
                document.getElementById("IdVer").href  = '';
                document.getElementById("IdEditar").href  = '';
                document.getElementById("IdBorrar").href  = '';
                alert('Debe seleccionar un valor');
            }
        }
        </script>


    <br>
    <a id="IdVer" > Ver</a>
    <a id="IdEditar"> Editar</a>
    <a id="IdBorrar"> Borrar</a>
</ul>

{% endblock %}